FINAL_WORKFLOW.json
{
    "name": "WhatsApp Ai Agent V2 - Supabase Integration",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -1000,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook (WhatsApp)"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.body.data.key.fromMe }}",
                            "value2": false
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -780,
                0
            ],
            "id": "filter-from-me",
            "name": "Filter: Not From Me"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://g777-brain-748303506355.europe-west1.run.app/api/store_message",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}"
                        },
                        {
                            "name": "sender_type",
                            "value": "user"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -560,
                0
            ],
            "id": "store-user-msg",
            "name": "Store User Message (Python Backend)"
        },
        {
            "parameters": {
                "model": "models/gemini-2.0-flash-001",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                -120,
                240
            ],
            "id": "gemini-chat-model",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googleGeminiApi": {
                    "id": "GOOGLE_GEMINI_CRED_ID",
                    "name": "Google Gemini Api account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Webhook (WhatsApp)').item.json.body.data.message.conversation || $('Webhook (WhatsApp)').item.json.body.data.message.extendedTextMessage.text }}",
                "options": {
                    "systemMessage": "You are Yasmine, a helpful AI assistant for G777."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                -340,
                0
            ],
            "id": "ai-agent",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:3000/message/sendText/G777",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "os.getenv('EVOLUTION_API_KEY', 'your_api_key_here')"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $('Webhook (WhatsApp)').item.json.body.data.key.remoteJid }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.output }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                0,
                0
            ],
            "id": "send-reply",
            "name": "Send Reply (Evolution API)"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://g777-brain-748303506355.europe-west1.run.app/api/store_message",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $('Webhook (WhatsApp)').item.json.body.data.key.remoteJid.split('@')[0] }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.output }}"
                        },
                        {
                            "name": "sender_type",
                            "value": "assistant"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                220,
                0
            ],
            "id": "store-assistant-msg",
            "name": "Store Assistant Message (Python Backend)"
        }
    ],
    "connections": {
        "Webhook (WhatsApp)": {
            "main": [
                [
                    {
                        "node": "Filter: Not From Me",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter: Not From Me": {
            "main": [
                [
                    {
                        "node": "Store User Message (Python Backend)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store User Message (Python Backend)": {
            "main": [
                []
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Send Reply (Evolution API)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Reply (Evolution API)": {
            "main": [
                [
                    {
                        "node": "Store Assistant Message (Python Backend)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}