backops/n8n_vault_export/1test_gmail.json
{
  "name": "1test gmail",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1aO2omm_2y_Kh0zDMS9bCSTVQnaT1BNotlWzzQTChckI",
          "mode": "list",
          "cachedResultName": "n8n test 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aO2omm_2y_Kh0zDMS9bCSTVQnaT1BNotlWzzQTChckI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "\u0627\u0644\u0648\u0631\u0642\u06291",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aO2omm_2y_Kh0zDMS9bCSTVQnaT1BNotlWzzQTChckI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.body.project_name }}",
            "price": "={{ $json.body.status }}",
            "type": "={{ $json.body.trigger_source }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2400,
        -2576
      ],
      "id": "77824b76-ea12-475f-89cd-438449ee1239",
      "name": "Append or update row in sheet",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EjsPNYHPVO4Zgx8J",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b8f3c3f6-5924-4a4b-b1ea-685189fefa4d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2592,
        -2720
      ],
      "id": "dba522c1-13a0-4e18-af18-575b685cefbe",
      "name": "Webhook",
      "webhookId": "b8f3c3f6-5924-4a4b-b1ea-685189fefa4d"
    },
    {
      "parameters": {
        "sendTo": "ameenghoneem1@gmail.com",
        "subject": "smart",
        "emailType": "text",
        "message": "webhok",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2272,
        -2736
      ],
      "id": "aedd114f-6379-4f5f-926e-49770cfff314",
      "name": "Send a message",
      "webhookId": "f1023967-8f03-4f99-acd6-34980a182090",
      "credentials": {
        "gmailOAuth2": {
          "id": "V2vpBfhYsjKhh5oq",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}