backops/n8n_vault_export/Al-Madar_Al-Zahabi_-_Noura_AI_PRODUCTION.json
{
  "name": "Al-Madar Al-Zahabi - Noura AI [PRODUCTION]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dental-clinic-waha",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1c76396-f43f-4b75-b8fd-bffc076a7d67",
      "name": "1. WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        -64
      ],
      "webhookId": "dental-clinic-waha-prod"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json;\nconst body = incoming.body || incoming;\n\nlet phone = '';\nif (body.payload && body.payload.from) {\n  phone = body.payload.from;\n} else if (body.from) {\n  phone = body.from;\n}\nphone = phone.replace('@c.us', '').replace('@s.whatsapp.net', '');\n\nlet message = '';\nif (body.payload && body.payload.body) {\n  message = body.payload.body;\n} else if (body.body) {\n  message = body.body;\n} else if (body.text) {\n  message = body.text;\n}\n\nlet patientName = '\u0639\u0645\u064a\u0644';\nif (body.payload && body.payload.notifyName) {\n  patientName = body.payload.notifyName;\n} else if (body.notifyName) {\n  patientName = body.notifyName;\n} else if (body.pushName) {\n  patientName = body.pushName;\n}\n\nconst chatId = phone + '@c.us';\n\nlet intent = 'inquiry';\nif (/\u062d\u062c\u0632|\u0645\u0648\u0639\u062f|\u0627\u062d\u062c\u0632|booking|appointment|\u0645\u064a\u0639\u0627\u062f/i.test(message)) {\n  intent = 'booking';\n}\n\nreturn {\n  json: {\n    phone: phone,\n    message: message,\n    patientName: patientName,\n    chatId: chatId,\n    intent: intent,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "54c394b8-1fa5-4ea8-b17c-be2e11219b3c",
      "name": "2. Message Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -64
      ]
    },
    {
      "parameters": {
        "url": "=https://jzhylcwrjrchdxjlaiin.supabase.co/rest/v1/patient_memory?phone=eq.{{ $json.phone }}&select=*&order=created_at.desc&limit=5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6aHlsY3dyanJjaGR4amxhaWluIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjgyMzAyMywiZXhwIjoyMDgyMzk5MDIzfQ.YXXuRZQSmOaslorzYeawMnNhmGYhl3Y4qARz0pUMeF8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6aHlsY3dyanJjaGR4amxhaWluIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjgyMzAyMywiZXhwIjoyMDgyMzk5MDIzfQ.YXXuRZQSmOaslorzYeawMnNhmGYhl3Y4qARz0pUMeF8"
            }
          ]
        },
        "options": {}
      },
      "id": "2e90f783-601d-470a-b86b-a1fbe18769ea",
      "name": "3. Supabase Fetch Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4PIuLIHiZT6fI91v",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const memoryData = $input.first().json;\nconst parsedMessage = $('2. Message Parser').first().json;\n\nlet memoryContext = '';\nif (Array.isArray(memoryData) && memoryData.length > 0) {\n  memoryContext = memoryData.map((m) => {\n    return `\u2022 ${m.fact || m.summary || 'N/A'}`;\n  }).join('\\n');\n} else {\n  memoryContext = '\u0644\u0627 \u062a\u0648\u062c\u062f \u0633\u062c\u0644\u0627\u062a \u0633\u0627\u0628\u0642\u0629 \u0644\u0647\u0630\u0627 \u0627\u0644\u0645\u0631\u064a\u0636.';\n}\n\nconst sessionContext = {\n  phone: parsedMessage.phone,\n  patientName: parsedMessage.patientName,\n  currentMessage: parsedMessage.message,\n  intent: parsedMessage.intent,\n  chatId: parsedMessage.chatId,\n  timestamp: parsedMessage.timestamp,\n  memoryContext: memoryContext,\n  memoryCount: Array.isArray(memoryData) ? memoryData.length : 0,\n  sessionId: `session_${parsedMessage.phone}_${Date.now()}`\n};\n\nreturn { json: sessionContext };"
      },
      "id": "a9634f26-57be-4bcf-9b5b-caf8a51580f4",
      "name": "6. Session Memory Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyA9TuKIgnIoxMf2Y7Ej8PhkXUvSSWT-joo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"role\": \"user\",\n    \"parts\": [{\"text\": \"\u0623\u0646\u062a \u0646\u0648\u0631\u0629\u060c \u0645\u0633\u0627\u0639\u062f\u0629 \u0630\u0643\u064a\u0629 \u0648\u0645\u062d\u062a\u0631\u0641\u0629 \u0644\u0639\u064a\u0627\u062f\u0629 \u0627\u0644\u0645\u062f\u0627\u0631 \u0627\u0644\u0630\u0647\u0628\u064a \u0644\u0637\u0628 \u0627\u0644\u0623\u0633\u0646\u0627\u0646.\\n\\n## \u0627\u0644\u062a\u0639\u0644\u064a\u0645\u0627\u062a \u0627\u0644\u0623\u0633\u0627\u0633\u064a\u0629:\\n1. \u062a\u062d\u062f\u062b\u064a \u0628\u0627\u0644\u0639\u0627\u0645\u064a\u0629 \u0627\u0644\u0645\u0635\u0631\u064a\u0629 \u0628\u0623\u0633\u0644\u0648\u0628 \u0648\u062f\u0648\u062f \u0648\u0645\u0647\u0646\u064a \u062c\u062f\u0627\u064b\\n2. \u0631\u0627\u062c\u0639\u064a \u0630\u0627\u0643\u0631\u0629 \u0627\u0644\u0645\u0631\u064a\u0636 \u0642\u0628\u0644 \u0627\u0644\u0631\u062f \u0648\u0627\u0633\u062a\u062e\u062f\u0645\u064a\u0647\u0627 \u0641\u064a \u0627\u0644\u0645\u062d\u0627\u062f\u062b\u0629\\n3. \u0625\u0630\u0627 \u0637\u0644\u0628 \u062d\u062c\u0632 \u0645\u0648\u0639\u062f\u060c \u0627\u062c\u0645\u0639\u064a: \u0627\u0644\u0627\u0633\u0645 \u0627\u0644\u0643\u0627\u0645\u0644\u060c \u0627\u0644\u062e\u062f\u0645\u0629 \u0627\u0644\u0645\u0637\u0644\u0648\u0628\u0629\u060c \u0627\u0644\u064a\u0648\u0645 \u0648\u0627\u0644\u0648\u0642\u062a \u0627\u0644\u0645\u0641\u0636\u0644\\n4. \u0643\u0648\u0646\u064a \u0645\u062e\u062a\u0635\u0631\u0629 (2-3 \u062c\u0645\u0644 \u0641\u0642\u0637)\\n5. \u0623\u0636\u064a\u0641\u064a \u0625\u064a\u0645\u0648\u062c\u064a \u0648\u0627\u062d\u062f \u0645\u0646\u0627\u0633\u0628 \u0641\u064a \u0646\u0647\u0627\u064a\u0629 \u0627\u0644\u0631\u062f \ud83d\ude0a\\n6. \u0625\u0630\u0627 \u0630\u0643\u0631 \u0627\u0644\u0645\u0631\u064a\u0636 \u0645\u0639\u0644\u0648\u0645\u0629 \u0637\u0628\u064a\u0629 \u062c\u062f\u064a\u062f\u0629 (\u0623\u0644\u0645\u060c \u0645\u0634\u0643\u0644\u0629\u060c \u0639\u0644\u0627\u062c \u0633\u0627\u0628\u0642)\u060c \u0644\u062e\u0635\u064a\u0647\u0627 \u0644\u0644\u062d\u0641\u0638\\n\\n## \u0645\u0639\u0644\u0648\u0645\u0627\u062a \u0627\u0644\u0639\u064a\u0627\u062f\u0629:\\n- \u0627\u0644\u0627\u0633\u0645: \u0639\u064a\u0627\u062f\u0629 \u0627\u0644\u0645\u062f\u0627\u0631 \u0627\u0644\u0630\u0647\u0628\u064a \u0644\u0637\u0628 \u0627\u0644\u0623\u0633\u0646\u0627\u0646\\n- \u0633\u0627\u0639\u0627\u062a \u0627\u0644\u0639\u0645\u0644: \u0627\u0644\u0633\u0628\u062a-\u0627\u0644\u062e\u0645\u064a\u0633\u060c 9 \u0635\u0628\u0627\u062d\u0627\u064b - 9 \u0645\u0633\u0627\u0621\u064b\\n- \u0627\u0644\u062e\u062f\u0645\u0627\u062a: \u062a\u0646\u0638\u064a\u0641 \u0623\u0633\u0646\u0627\u0646\u060c \u062d\u0634\u0648\u060c \u062a\u0642\u0648\u064a\u0645\u060c \u0632\u0631\u0627\u0639\u0629\u060c \u062a\u0628\u064a\u064a\u0636\u060c \u0639\u0644\u0627\u062c \u0639\u0635\u0628\u060c \u062e\u0644\u0639 \u0636\u0631\u0633 \u0627\u0644\u0639\u0642\u0644\\n- \u0627\u0644\u0639\u0646\u0648\u0627\u0646: \u0627\u0644\u0631\u064a\u0627\u0636\u060c \u0627\u0644\u0645\u0645\u0644\u0643\u0629 \u0627\u0644\u0639\u0631\u0628\u064a\u0629 \u0627\u0644\u0633\u0639\u0648\u062f\u064a\u0629\\n\\n## \u0628\u064a\u0627\u0646\u0627\u062a \u0627\u0644\u0645\u0631\u064a\u0636 \u0627\u0644\u062d\u0627\u0644\u064a:\\n- \u0627\u0644\u0627\u0633\u0645: {{ $json.patientName }}\\n- \u0631\u0642\u0645 \u0627\u0644\u0647\u0627\u062a\u0641: {{ $json.phone }}\\n- \u0646\u0648\u0639 \u0627\u0644\u0637\u0644\u0628: {{ $json.intent }}\\n\\n## \u0630\u0627\u0643\u0631\u0629 \u0627\u0644\u0645\u0631\u064a\u0636 \u0627\u0644\u0633\u0627\u0628\u0642\u0629:\\n{{ $json.memoryContext }}\\n\\n## \u0631\u0633\u0627\u0644\u0629 \u0627\u0644\u0645\u0631\u064a\u0636 \u0627\u0644\u0622\u0646:\\n{{ $json.currentMessage }}\\n\\n---\\n\u0631\u062f\u064a \u0639\u0644\u0649 \u0627\u0644\u0645\u0631\u064a\u0636 \u0628\u0634\u0643\u0644 \u0637\u0628\u064a\u0639\u064a \u0648\u0645\u062e\u062a\u0635\u0631:\"}]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.85,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 400,\n    \"candidateCount\": 1\n  },\n  \"safetySettings\": [\n    {\"category\": \"HARM_CATEGORY_HARASSMENT\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_HATE_SPEECH\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", \"threshold\": \"BLOCK_NONE\"},\n    {\"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\", \"threshold\": \"BLOCK_NONE\"}\n  ]\n}",
        "options": {}
      },
      "id": "27f3f6ba-42b1-4ebd-b11a-9658bcf750f8",
      "name": "4. Gemini AI Agent (Noura)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $input.first().json;\nconst sessionData = $('6. Session Memory Manager').first().json;\n\nlet aiResponse = '';\nlet newInsight = '';\n\ntry {\n  if (geminiResponse.candidates && geminiResponse.candidates[0]) {\n    aiResponse = geminiResponse.candidates[0].content.parts[0].text;\n  } else {\n    throw new Error('No response from Gemini');\n  }\n} catch (e) {\n  aiResponse = '\u0639\u0630\u0631\u0627\u064b \u062d\u0628\u064a\u0628\u064a\u060c \u062d\u0635\u0644 \u0645\u0634\u0643\u0644\u0629 \u062a\u0642\u0646\u064a\u0629 \u0628\u0633\u064a\u0637\u0629 \ud83d\ude05 \u0645\u0645\u0643\u0646 \u062a\u0639\u064a\u062f \u0627\u0644\u0631\u0633\u0627\u0644\u0629 \u062a\u0627\u0646\u064a\u061f';\n}\n\naiResponse = aiResponse.trim();\n\nconst painKeywords = /\u0623\u0644\u0645|\u0648\u062c\u0639|\u0645\u0634\u0643\u0644\u0629|\u0636\u0631\u0633|\u0633\u0646|\u0639\u0635\u0628|\u062a\u0633\u0648\u0633|\u0646\u0632\u064a\u0641|\u0648\u0631\u0645|\u062d\u0633\u0627\u0633\u064a\u0629/i;\nif (painKeywords.test(sessionData.currentMessage)) {\n  const words = sessionData.currentMessage.split(' ').slice(0, 10).join(' ');\n  newInsight = `\u0634\u0643\u0648\u0649 \u0637\u0628\u064a\u0629: ${words}...`;\n}\n\nif (sessionData.intent === 'booking') {\n  newInsight = `\u0637\u0644\u0628 \u062d\u062c\u0632 \u0645\u0648\u0639\u062f - ${new Date().toLocaleDateString('ar-EG')}`;\n}\n\nreturn {\n  json: {\n    phone: sessionData.phone,\n    patientName: sessionData.patientName,\n    chatId: sessionData.chatId,\n    originalMessage: sessionData.currentMessage,\n    aiResponse: aiResponse,\n    intent: sessionData.intent,\n    newInsight: newInsight,\n    timestamp: sessionData.timestamp,\n    sessionId: sessionData.sessionId\n  }\n};"
      },
      "id": "5baef94e-8c24-486b-b261-883c5703e6af",
      "name": "5. Response Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "operation": "equals",
              "value2": "booking"
            }
          ]
        }
      },
      "id": "ee701d8d-6c31-4b73-9e46-8b098bb90334",
      "name": "7. Intent Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1520,
        -64
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "d68dbf19-f80b-4891-adcf-6730682c8479",
      "name": "10. Human Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        -64
      ],
      "webhookId": "c851eefc-ad7a-46ae-a275-772d1c5520b7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/message/sendText/G777",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "fbee54f38dde4aaba6aeb185f30e07aa"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('5. Response Processor').first().json.phone }}\",\n  \"text\": {{ JSON.stringify($('5. Response Processor').first().json.aiResponse) }}\n}",
        "options": {}
      },
      "id": "25b58823-61b9-45d5-9cc4-3ec7ae050bf1",
      "name": "8. WhatsApp Outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        -64
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jzhylcwrjrchdxjlaiin.supabase.co/rest/v1/patient_memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6aHlsY3dyanJjaGR4amxhaWluIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjgyMzAyMywiZXhwIjoyMDgyMzk5MDIzfQ.YXXuRZQSmOaslorzYeawMnNhmGYhl3Y4qARz0pUMeF8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6aHlsY3dyanJjaGR4amxhaWluIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjgyMzAyMywiZXhwIjoyMDgyMzk5MDIzfQ.YXXuRZQSmOaslorzYeawMnNhmGYhl3Y4qARz0pUMeF8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('5. Response Processor').first().json.phone }}\",\n  \"fact\": \"{{ $('5. Response Processor').first().json.newInsight || '\u0645\u062d\u0627\u062f\u062b\u0629 \u0639\u0627\u0645\u0629' }}\",\n  \"patient_name\": \"{{ $('5. Response Processor').first().json.patientName }}\",\n  \"intent\": \"{{ $('5. Response Processor').first().json.intent }}\",\n  \"created_at\": \"{{ $('5. Response Processor').first().json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "30b30daa-806e-4ff1-a922-4ab0b9a6946a",
      "name": "5b. Supabase Upsert Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        -64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.first().json;\nconst responseProcessor = $('5. Response Processor').first().json;\n\nlet errorType = 'UNKNOWN';\nlet errorMessage = 'Unknown error';\nlet statusCode = errorData.statusCode || 0;\n\nif (statusCode === 401) {\n  errorType = 'AUTH_FAILED_401';\n  errorMessage = 'WAHA X-Api-Key rejected';\n} else if (statusCode === 500) {\n  errorType = 'SERVER_ERROR_500';\n  errorMessage = 'WAHA Server Internal Error';\n} else if (statusCode === 404) {\n  errorType = 'ENDPOINT_404';\n  errorMessage = 'WAHA endpoint not found';\n} else if (statusCode === 0 || !statusCode) {\n  errorType = 'CONNECTION_FAILED';\n  errorMessage = 'Cannot connect to WAHA';\n}\n\nconsole.error(`\u274c [ERROR] ${errorType}: ${errorMessage}`);\n\nreturn {\n  json: {\n    status: 'ERROR',\n    errorType: errorType,\n    errorMessage: errorMessage,\n    statusCode: statusCode,\n    phone: responseProcessor.phone,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "6db87af5-589d-4127-8d80-68a41455f7a9",
      "name": "9. Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseProcessor = $('5. Response Processor').first().json;\nconst whatsappResult = $input.first().json;\n\nconst log = {\n  status: 'SUCCESS',\n  timestamp: new Date().toISOString(),\n  phone: responseProcessor.phone,\n  name: responseProcessor.patientName,\n  intent: responseProcessor.intent,\n  sent: true\n};\n\nconsole.log('\u2705 [SUCCESS] Workflow Complete');\nconsole.log(JSON.stringify(log, null, 2));\n\nreturn { json: log };"
      },
      "id": "533f47e9-99f1-4ba2-b41a-af599c879267",
      "name": "11. Final Production Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"received\", \"timestamp\": \"{{ $now.toISO() }}\"}",
        "options": {}
      },
      "id": "605b0811-f302-445d-bddb-cc6cfe3c8007",
      "name": "Webhook 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        416,
        -256
      ]
    }
  ],
  "connections": {
    "1. WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "2. Message Parser",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Message Parser": {
      "main": [
        [
          {
            "node": "3. Supabase Fetch Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Supabase Fetch Memory": {
      "main": [
        [
          {
            "node": "6. Session Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Session Memory Manager": {
      "main": [
        [
          {
            "node": "4. Gemini AI Agent (Noura)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Gemini AI Agent (Noura)": {
      "main": [
        [
          {
            "node": "5. Response Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Response Processor": {
      "main": [
        [
          {
            "node": "7. Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Intent Router": {
      "main": [
        [
          {
            "node": "10. Human Delay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "10. Human Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Human Delay": {
      "main": [
        [
          {
            "node": "8. WhatsApp Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. WhatsApp Outbound": {
      "main": [
        [
          {
            "node": "5b. Supabase Upsert Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "9. Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5b. Supabase Upsert Memory": {
      "main": [
        [
          {
            "node": "11. Final Production Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}