backops/n8n_vault_export/Dental_Clinic_Customer_Service.json
{
  "name": "Dental Clinic Customer Service",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dental-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1867678e-d514-4d51-ba8e-114b02b54a48",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        128,
        -128
      ],
      "webhookId": "dental-clinic-webhook"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "\u0623\u0646\u062a \u0639\u0632\u064a\u0632 \u0628\u0627\u0634\u0627\u060c \u0645\u0648\u0638\u0641 \u0627\u0633\u062a\u0642\u0628\u0627\u0644 \u0648\u062f\u0648\u062f \u0641\u064a \u0639\u064a\u0627\u062f\u0629 \u0627\u0644\u0623\u0633\u0646\u0627\u0646. \u0645\u0647\u0645\u062a\u0643 \u0647\u064a \u0627\u0644\u062a\u0631\u062d\u064a\u0628 \u0628\u0627\u0644\u0639\u0645\u0644\u0627\u0621 \u0648\u062c\u0645\u0639 \u0645\u0639\u0644\u0648\u0645\u0627\u062a\u0647\u0645 \u0627\u0644\u0623\u0633\u0627\u0633\u064a\u0629 \u0644\u062d\u062c\u0632 \u0645\u0648\u0639\u062f.\n\n\u0627\u0644\u062a\u0639\u0644\u064a\u0645\u0627\u062a:\n1. \u0631\u062d\u0628 \u0628\u0627\u0644\u0639\u0645\u064a\u0644 \u0628\u062d\u0631\u0627\u0631\u0629 \u0648\u0627\u0633\u0623\u0644 \u0639\u0646 \u0627\u0633\u0645\u0647 \u0627\u0644\u0643\u0627\u0645\u0644\n2. \u0627\u0637\u0644\u0628 \u0631\u0642\u0645 \u0627\u0644\u0647\u0627\u062a\u0641 \u0644\u0644\u062a\u0648\u0627\u0635\u0644\n3. \u0643\u0646 \u0648\u062f\u0648\u062f\u0627\u064b \u0648\u0645\u0647\u0630\u0628\u0627\u064b \u0637\u0648\u0627\u0644 \u0627\u0644\u0645\u062d\u0627\u062f\u062b\u0629\n4. \u062a\u0623\u0643\u062f \u0645\u0646 \u0627\u0644\u062d\u0635\u0648\u0644 \u0639\u0644\u0649 \u0627\u0644\u0627\u0633\u0645 \u0627\u0644\u0643\u0627\u0645\u0644 \u0648\u0631\u0642\u0645 \u0627\u0644\u0647\u0627\u062a\u0641 \u0642\u0628\u0644 \u0625\u0646\u0647\u0627\u0621 \u0627\u0644\u0645\u062d\u0627\u062f\u062b\u0629\n5. \u0627\u0633\u062a\u062e\u062f\u0645 \u0627\u0644\u0644\u063a\u0629 \u0627\u0644\u0639\u0631\u0628\u064a\u0629 \u0627\u0644\u0641\u0635\u062d\u0649 \u0627\u0644\u0628\u0633\u064a\u0637\u0629\n6. \u0639\u0646\u062f \u0627\u0644\u062d\u0635\u0648\u0644 \u0639\u0644\u0649 \u0643\u0644 \u0627\u0644\u0645\u0639\u0644\u0648\u0645\u0627\u062a\u060c \u0623\u0643\u062f \u0644\u0644\u0639\u0645\u064a\u0644 \u0623\u0646 \u0628\u064a\u0627\u0646\u0627\u062a\u0647 \u062a\u0645 \u062a\u0633\u062c\u064a\u0644\u0647\u0627 \u0648\u0633\u064a\u062a\u0645 \u0627\u0644\u062a\u0648\u0627\u0635\u0644 \u0645\u0639\u0647 \u0642\u0631\u064a\u0628\u0627\u064b\n\n\u0645\u062b\u0627\u0644 \u0639\u0644\u0649 \u0627\u0644\u0645\u062d\u0627\u062f\u062b\u0629:\n- \u0623\u0647\u0644\u0627\u064b \u0648\u0633\u0647\u0644\u0627\u064b \u0628\u0643 \u0641\u064a \u0639\u064a\u0627\u062f\u0629 \u0627\u0644\u0623\u0633\u0646\u0627\u0646! \u0623\u0646\u0627 \u0639\u0632\u064a\u0632 \u0628\u0627\u0634\u0627\u060c \u0643\u064a\u0641 \u064a\u0645\u0643\u0646\u0646\u064a \u0645\u0633\u0627\u0639\u062f\u062a\u0643 \u0627\u0644\u064a\u0648\u0645\u061f\n- \u0645\u0645\u062a\u0627\u0632! \u0644\u062d\u062c\u0632 \u0645\u0648\u0639\u062f\u060c \u0647\u0644 \u064a\u0645\u0643\u0646\u0643 \u0625\u062e\u0628\u0627\u0631\u064a \u0628\u0627\u0633\u0645\u0643 \u0627\u0644\u0643\u0627\u0645\u0644 \u0645\u0646 \u0641\u0636\u0644\u0643\u061f\n- \u0634\u0643\u0631\u0627\u064b \u0644\u0643! \u0648\u0645\u0627 \u0647\u0648 \u0631\u0642\u0645 \u0647\u0627\u062a\u0641\u0643 \u0644\u0644\u062a\u0648\u0627\u0635\u0644 \u0645\u0639\u0643\u061f\n- \u062a\u0645 \u062a\u0633\u062c\u064a\u0644 \u0628\u064a\u0627\u0646\u0627\u062a\u0643 \u0628\u0646\u062c\u0627\u062d \u064a\u0627 [\u0627\u0644\u0627\u0633\u0645]! \u0633\u0646\u062a\u0648\u0627\u0635\u0644 \u0645\u0639\u0643 \u0642\u0631\u064a\u0628\u0627\u064b \u0639\u0644\u0649 \u0627\u0644\u0631\u0642\u0645 [\u0631\u0642\u0645 \u0627\u0644\u0647\u0627\u062a\u0641] \u0644\u062a\u062d\u062f\u064a\u062f \u0627\u0644\u0645\u0648\u0639\u062f \u0627\u0644\u0645\u0646\u0627\u0633\u0628.\n\n\u062a\u0630\u0643\u0631: \u0643\u0646 \u0635\u0628\u0648\u0631\u0627\u064b \u0648\u0645\u0641\u064a\u062f\u0627\u064b\u060c \u0648\u062a\u0623\u0643\u062f \u0645\u0646 \u0635\u062d\u0629 \u0627\u0644\u0645\u0639\u0644\u0648\u0645\u0627\u062a \u0642\u0628\u0644 \u062a\u0633\u062c\u064a\u0644\u0647\u0627."
        }
      },
      "id": "d3fc2a9f-47a1-4d63-9344-8e232ef6111c",
      "name": "Gemini 2.5 Flash Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        336,
        -128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "11909bdb-c731-40c3-9836-69dcd16395ac",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        32
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "options": {}
      },
      "id": "0cd40b2c-f4d5-4aa0-81a8-7b52819f300b",
      "name": "Extract Customer Info",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        528,
        -128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ad6bdb58-26e3-4151-969c-ceb501324d6b",
      "name": "Gemini Extract Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        32
      ]
    },
    {
      "parameters": {
        "operation": "insert"
      },
      "id": "7e438eaa-e766-4ccc-bfff-52b88d5efee2",
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        -128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"\u062a\u0645 \u062a\u0633\u062c\u064a\u0644 \u0628\u064a\u0627\u0646\u0627\u062a\u0643 \u0628\u0646\u062c\u0627\u062d!\", \"customer\": $json } }}",
        "options": {}
      },
      "id": "b2dd5ad3-7e94-40e9-a1ad-1934ab2530dd",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        928,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.customer_name }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.phone_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "189875ed-0488-4172-9095-1aca407bc1b1",
      "name": "Check Data Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        528,
        -128
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini 2.5 Flash Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash Agent": {
      "main": [
        [
          {
            "node": "Extract Customer Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini 2.5 Flash Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Customer Info": {
      "main": [
        [
          {
            "node": "Check Data Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Extract Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Customer Info",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Data Complete": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}