backops/n8n_vault_export/Memory_Addon_Nodes.json
{
  "name": "Memory Addon Nodes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "474ea20e-da4d-490c-8b46-4ad6233ac90c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -640
      ],
      "id": "ce8f7f88-c69c-49f0-a94c-9e40c57d3079",
      "name": "Webhook",
      "webhookId": "474ea20e-da4d-490c-8b46-4ad6233ac90c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a78e13fe-65ee-4eba-8c87-ace450b71e11",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        -640
      ],
      "id": "1614a247-42f3-4aff-b494-a08e2e4153b1",
      "name": "Not from me"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2b8e17e1-5c44-4d20-bc4e-95b8e56cf84f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e67890b8-c949-4137-8b12-eb3f7a85d316",
                    "leftValue": "={{ $json.body.data.message.audioMessage.url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63f8d2bb-7ac0-4d81-9100-ae66ab458072",
                    "leftValue": "={{ $json.body.data.message.imageMessage.url }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        -672
      ],
      "id": "b374f55b-fe4b-418a-a01f-f731559f24f9",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/message/sendText/G777",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "antigravity_secret_key_2024"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        -624
      ],
      "id": "f5615ab7-ff2f-430d-b3a9-c499d39467b9",
      "name": "Get Base64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        -624
      ],
      "id": "3aca0cd3-c4b4-42c3-b07e-4faa84aebfd4",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/message/sendText/G777",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "antigravity_secret_key_2024"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -912
      ],
      "id": "f01e99b8-440b-4aeb-8c23-f6aaf1f0f3ca",
      "name": "Get Base"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n  // 1. \u0627\u0644\u0646\u0635 \u0627\u0644\u0639\u0627\u062f\u064a (\u0648\u0627\u062a\u0633\u0627\u0628)\n  ($json.body?.data?.message?.conversation || \"\") + \" \" +\n\n  // 2. \u0627\u0644\u0646\u0635 \u0645\u0646 \u062a\u062d\u0644\u064a\u0644 \u0627\u0644\u0635\u0648\u0631\u0629 (\u0628\u0634\u0631\u0637 \u0623\u0646 \u062a\u0643\u0648\u0646 \u0627\u0644\u0639\u0642\u062f\u0629 \u0642\u062f \u0627\u0634\u062a\u063a\u0644\u062a)\n  // \u0627\u0644\u062f\u0627\u0644\u0629 $if \u0647\u0646\u0627 \u0647\u064a \"\u0635\u0645\u0627\u0645 \u0627\u0644\u0623\u0645\u0627\u0646\" \u0644\u0645\u0646\u0639 \u0627\u0644\u062e\u0637\u0623 \u0627\u0644\u0623\u062d\u0645\u0631\n  ( $if($(\"Analyze an image\").isExecuted, $(\"Analyze an image\").first().json.content.parts[0].text, \"\") ) + \" \" +\n\n  // 3. \u0627\u0644\u0646\u0635 \u0645\u0646 \u062a\u0641\u0631\u064a\u063a \u0627\u0644\u0635\u0648\u062a (\u0628\u0634\u0631\u0637 \u0623\u0646 \u062a\u0643\u0648\u0646 \u0627\u0644\u0639\u0642\u062f\u0629 \u0642\u062f \u0627\u0634\u062a\u063a\u0644\u062a)\n  ( $if($(\"Transcribe a recording2\").isExecuted, $(\"Transcribe a recording2\").first().json.text, \"\") )\n}}",
        "needsFallback": true,
        "options": {
          "systemMessage": "IDENTITY: \u0623\u0646\u062a \"\u0623\u0646\u062a \"\u064a\u0627\u0633\u0645\u064a\u0646\"\u060c \u0645\u0648\u0638\u0641\u0629 \u062e\u062f\u0645\u0629 \u0639\u0645\u0644\u0627\u0621 \u0630\u0643\u064a\u0629 \u0641\u064a \"TripiGo\". \u0647\u062f\u0641\u0643 \u0628\u064a\u0639 \u0627\u0644\u0631\u062d\u0644\u0627\u062a \u0628\u0623\u0633\u0644\u0648\u0628 \"\u0645\u062d\u0627\u062f\u062b\u0629\" \u0648\u0644\u064a\u0633 \"\u0625\u0639\u0644\u0627\u0646\". \".\n\n\n\nRULES (\u0642\u0648\u0627\u0639\u062f \u0635\u0627\u0631\u0645\u0629):\n\n1. \u26d4 \u0645\u0645\u0646\u0648\u0639 \u0639\u0631\u0636 \"\u0642\u0627\u0626\u0645\u0629 \u0627\u0644\u062e\u062f\u0645\u0627\u062a\" \u0643\u0627\u0645\u0644\u0629 \u0625\u0644\u0627 \u0625\u0630\u0627 \u0637\u0644\u0628 \u0627\u0644\u0639\u0645\u064a\u0644 \u0630\u0644\u0643 \u0635\u0631\u0627\u062d\u0629 (\u0645\u062b\u0644: \"\u0627\u064a\u0647 \u0627\u0644\u0639\u0631\u0648\u0636\u061f\" \u0623\u0648 \"\u0642\u0648\u0644\u064a \u0644\u064a \u0627\u0644\u0623\u0633\u0639\u0627\u0631\").\n\n2. \u2705 \u062c\u0627\u0648\u0628 \u0639\u0644\u0649 \u0627\u0644\u0633\u0624\u0627\u0644 \u0627\u0644\u0645\u062d\u062f\u062f \u0641\u0642\u0637. \u0644\u0648 \u0633\u0623\u0644 \u0639\u0646 \"\u0627\u0644\u062f\u0627\u064a \u064a\u0648\u0632\"\u060c \u0643\u0644\u0645\u064a\u0647 \u0639\u0646 \u0627\u0644\u062f\u0627\u064a \u064a\u0648\u0632 \u0641\u0642\u0637.\n\n3. \u0627\u0644\u0644\u0647\u062c\u0629: \u0645\u0635\u0631\u064a\u0629 \u0639\u0627\u0645\u064a\u0629 \u0645\u062d\u062a\u0631\u0645\u0647 \u0648\u0644\u064a\u0633 \u0644\u0647\u062c\u0629 \u0627\u0644\u0634\u0648\u0631\u0627\u0639\u060c \u0642\u0635\u064a\u0631\u0629\u060c \u0648\u0645\u062e\u062a\u0635\u0631\u0629 (\u0633\u0637\u0631\u064a\u0646 \u0623\u0648 \u062b\u0644\u0627\u062b\u0629 \u0628\u0627\u0644\u0643\u062a\u064a\u0631).\n\n\n\n#OUR_SERVICES (\u0642\u0627\u0626\u0645\u0629 \u0627\u0644\u0623\u0633\u0639\u0627\u0631 \u0627\u0644\u0645\u062d\u062f\u062b\u0629 - 2026):\n\n- \u0627\u0644\u0623\u0644\u0639\u0627\u0628 \u0627\u0644\u0645\u0627\u0626\u064a\u0629:\n\n  * \u0627\u0644\u0628\u0646\u0627\u0646\u0627: 200\u062c \u0644\u0644\u0641\u0631\u062f.\n\n  * \u0627\u0644\u062a\u064a\u0648\u0628 / \u0627\u0644\u0643\u0646\u0628\u0629 / \u0627\u0644\u0635\u0648\u0641\u0629: 250\u062c \u0644\u0644\u0641\u0631\u062f.\n\n- \u0627\u0644\u0631\u062d\u0644\u0627\u062a \u0627\u0644\u0628\u062d\u0631\u064a\u0629 (\u0627\u0644\u064a\u062e\u0648\u062a):\n\n  * \u0631\u062d\u0644\u0629 \u062e\u0627\u0635\u0629 (\u0633\u0627\u0639\u0629): 3000\u062c (\u0634\u0627\u0645\u0644\u0629 \u0627\u0644\u064a\u062e\u062a \u0628\u0627\u0644\u0643\u0627\u0645\u0644).\n\n  * \u062a\u0641\u0627\u0635\u064a\u0644 \u0627\u0644\u064a\u062e\u062a: \u0645\u062a\u0627\u062d \u0633\u0646\u0648\u0631\u0643\u0644\u064a\u060c \u0635\u064a\u062f\u060c \u0648\u0645\u0634\u0627\u0647\u062f\u0629 \u0627\u0644\u062f\u0644\u0627\u0641\u064a\u0646. \u0646\u0648\u0641\u0631 \u0627\u0644\u0645\u0627\u0633\u0643\u060c \u0627\u0644\u0644\u0627\u064a\u0641 \u062c\u0627\u0643\u062a\u060c \u0648\u0623\u062f\u0648\u0627\u062a \u0627\u0644\u0635\u064a\u062f \u0645\u062c\u0627\u0646\u0627\u064b.\n\n  * \u0627\u0644\u0637\u0627\u0642\u0645: 1 \u0631\u064a\u0633 + \u0645\u0633\u0627\u0639\u062f (\u0645\u062f\u0631\u0628\u064a\u0646 \u0639\u0644\u0649  \u0627\u0644\u0633\u0628\u0627\u062d\u0629 \u0648\u0627\u0644\u0627\u0646\u0642\u0627\u0630).\n\n- \u0627\u0644\u0631\u062d\u0644\u0627\u062a \u0627\u0644\u0623\u0631\u0636\u064a\u0629:\n\n  * \u0627\u0644\u062f\u0627\u064a \u064a\u0648\u0632: 450\u062c (\u0634\u0627\u0645\u0644 \u063a\u062f\u0627\u0621 \u0648\u0627\u0646\u062a\u0642\u0627\u0644\u0627\u062a).\n\nTONE:\n\n\u0648\u062f\u0648\u062f\u0629\u060c \u0645\u062d\u062a\u0631\u0641\u0629.\n\n\u0645\u062b\u0627\u0644 \u0633\u064a\u0621: (\u0639\u0631\u0636 \u0642\u0627\u0626\u0645\u0629 \u0637\u0648\u064a\u0644\u0629 \u0639\u0631\u064a\u0636\u0629).\n\n\u0645\u062b\u0627\u0644 \u062c\u064a\u062f: \"\u0627\u0644\u062f\u0627\u064a \u064a\u0648\u0632 \u064a\u0627 \u0641\u0646\u062f\u0645 \u0628\u0640 450 \u062c\u0646\u064a\u0647 \u0634\u0627\u0645\u0644 \u0627\u0644\u063a\u062f\u0627\u0621 \u0648\u0627\u0644\u0627\u0646\u062a\u0642\u0627\u0644\u0627\u062a\u060c \u062a\u062d\u0628 \u0623\u062d\u062c\u0632 \u0644\u062d\u0636\u0631\u062a\u0643\u061f\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1360,
        -720
      ],
      "id": "538c8240-6da2-4e11-9094-37333713accc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        -928
      ],
      "id": "24fbfc66-3f12-4b9b-95a1-a6c2faa1b6d6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const choice = Math.floor(Math.random() * 5) + 2; // Returns 2, 3, 4, 5, or 6\n\nreturn [\n  {\n    choice: choice\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -544
      ],
      "id": "621afc58-a456-4f1f-8483-3d6f4221b2eb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": "={{ $json.choice }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1904,
        -544
      ],
      "id": "be08147d-8fb9-4447-b0cc-4777e309adf1",
      "name": "Wait",
      "webhookId": "35cbdf20-e3e0-4c7e-83f7-2a7d48774a27"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/message/sendText/G777",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "antigravity_secret_key_2024"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').first().json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2128,
        -544
      ],
      "id": "52012433-09d1-4fae-b53e-9224df1d4444",
      "name": "Send Text"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        624,
        -912
      ],
      "id": "d9771bc3-cd91-4c20-a982-2339057b1d61",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1408,
        -304
      ],
      "id": "dbeac739-ca13-4721-aa56-7c64f0dd8cb6",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "IbWli99qdIecSI6C",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        832,
        -912
      ],
      "id": "c6808711-0e58-4af3-bcc7-ba5187456daf",
      "name": "Transcribe a recording2",
      "credentials": {
        "googlePalmApi": {
          "id": "lq6kqhrJ50PTvGco",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Audio To Text",
        "height": 192,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -992
      ],
      "typeVersion": 1,
      "id": "759c54b0-1650-4507-9b25-6e0b35a2ab49",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Analyse Image",
        "height": 192,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -656
      ],
      "typeVersion": 1,
      "id": "4dbbff94-393a-4b60-975a-55b62a15f995",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        960,
        -608
      ],
      "id": "9bd218c8-c029-4df2-9d3f-a3ddd7821f30",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "lq6kqhrJ50PTvGco",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1360,
        -496
      ],
      "id": "a3538bed-863c-411f-bf81-ca7997cdb075",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lq6kqhrJ50PTvGco",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "customer_memory",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}"
            }
          ]
        }
      },
      "id": "5c016f58-8ead-4990-bcfb-c3d51bad708f",
      "name": "Get Memory (Addon)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        -928
      ],
      "credentials": {
        "supabaseApi": {
          "id": "FD8uk8wsO02LBQxU",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const memories = $input.all().map(i => i.json);\n\n// 1. Build Memory Text\nlet memoryText = 'No previous memory.';\nif (memories.length > 0 && memories[0].phone) {\n    memoryText = memories.map(m => `- ${m.fact || m.intent} (${m.created_at})`).join('\\n');\n}\n\n// 2. RECOVER ORIGINAL DATA (Crucial to keep workflow running)\nlet originalData = {};\n\ntry {\n    // Try fetching from Transcribe node if it ran\n    const audioItem = $('Transcribe a recording2').item;\n    if (audioItem) originalData = audioItem.json;\n} catch (e) {}\n\n// If no audio data, fall back to Webhook/Switch data\nif (Object.keys(originalData).length === 0) {\n    try {\n         // We try to get the item that entered the 'Switch' node\n         originalData = $('Switch').item.json;\n    } catch(e) {\n         originalData = $('Webhook').item.json;\n    }\n}\n\nreturn {\n    json: {\n        ...originalData, // Spread original data so AI Agent doesn't break\n        memoryContext: memoryText\n    }\n};"
      },
      "id": "dd4b9a00-0aaf-4771-8e23-93d36a358f3f",
      "name": "Format Context (Addon)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -928
      ]
    },
    {
      "parameters": {
        "jsCode": "// \u0627\u0633\u062a\u062e\u062f\u0645\u0646\u0627 .first() \u0648 .last() \u0644\u062d\u0644 \u0645\u0634\u0643\u0644\u0629 \u0627\u0644\u0640 Loop\n// \ud83d\uded1 \u0625\u0636\u0627\u0641\u0629 (|| '') \u0644\u062a\u062c\u0646\u0628 \u0627\u0644\u062e\u0637\u0623 \u0644\u0648 \u0627\u0644\u0631\u062f \u0641\u0627\u0631\u063a\nconst aiReply = $('AI Agent').last().json.output || ''; \n\n// \u0646\u062d\u0627\u0648\u0644 \u0646\u062c\u064a\u0628 \u0627\u0644\u062f\u0627\u062a\u0627 \u0645\u0646 \u0623\u0642\u0631\u0628 \u0646\u0642\u0637\u0629 (Format Context)\nconst contextData = $('Format Context (Addon)').first().json;\n\n// \u0627\u0633\u062a\u062e\u0631\u0627\u062c \u0627\u0644\u0628\u064a\u0627\u0646\u0627\u062a \u0628\u0623\u0645\u0627\u0646\nconst phone = contextData.phone || contextData.key?.remoteJid?.replace('@s.whatsapp.net', '') || 'Unknown';\n\n// \ud83d\uded1 FIX: \u0627\u0644\u062a\u0623\u0643\u062f \u0623\u0646 \u0627\u0644\u0631\u0633\u0627\u0644\u0629 \u0646\u0635 \u062f\u0627\u0626\u0645\u0627\u064b (Force String)\n// \u0623\u062d\u064a\u0627\u0646\u0627\u064b conversation \u0644\u0627 \u062a\u0643\u0648\u0646 \u0645\u0648\u062c\u0648\u062f\u0629 \u0641\u064a \u0631\u0633\u0627\u0626\u0644 \u0627\u0644\u0645\u064a\u062f\u064a\u0627\u060c \u0623\u0648 \u062a\u0643\u0648\u0646 object\nlet rawContent = contextData.message?.conversation || contextData.content || contextData.text || 'Media Message';\nconst userMessage = String(rawContent); \n\n// \u062a\u062d\u062f\u064a\u062f \u0627\u0644\u0646\u064a\u0629 (Intent)\nlet intent = 'general';\n\n// \u0627\u0644\u0622\u0646 \u0646\u0636\u0645\u0646 \u0623\u0646 includes \u0633\u062a\u0639\u0645\u0644 \u0644\u0623\u0646\u0646\u0627 \u062d\u0648\u0644\u0646\u0627 \u0627\u0644\u0645\u062a\u063a\u064a\u0631 \u0644\u0646\u0635\nif (userMessage.includes('?')) intent = 'question';\nif (String(aiReply).includes('?')) intent = 'ongoing';\n\nreturn {\n    json: {\n        phone,\n        intent,\n        fact: `User: \"${userMessage}\". AI: \"${aiReply}\"`\n    }\n};"
      },
      "id": "d1da4a39-47c0-4074-9d02-8f31d8d42ee4",
      "name": "Extract Intent (Addon)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        -720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zbrpwteyldwpqlcxdpmf.supabase.co/rest/v1/customer_memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpicnB3dGV5bGR3cHFsY3hkcG1mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkxNzYyMDUsImV4cCI6MjA4NDc1MjIwNX0.6Syczj_yN-GNfg2r_8U8xeiT67Z7hzyjJUBFTRjb0AQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpicnB3dGV5bGR3cHFsY3hkcG1mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkxNzYyMDUsImV4cCI6MjA4NDc1MjIwNX0.6Syczj_yN-GNfg2r_8U8xeiT67Z7hzyjJUBFTRjb0AQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            },
            {
              "name": "fact",
              "value": "={{ $json.fact }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d61f5be0-c26d-4687-acac-bf88f611da8e",
      "name": "Save Memory (Addon)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        -720
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Not from me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not from me": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Memory (Addon)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Intent (Addon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Transcribe a recording2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Transcribe a recording2": {
      "main": [
        [
          {
            "node": "Get Memory (Addon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory (Addon)": {
      "main": [
        [
          {
            "node": "Format Context (Addon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context (Addon)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intent (Addon)": {
      "main": [
        [
          {
            "node": "Save Memory (Addon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Get Memory (Addon)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}