backops/n8n_vault_export/rag.json
{
  "name": "rag",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ORsYe9rcK8KM6sF_kzY5KaUPAldpfwGr",
          "mode": "list",
          "cachedResultName": "Opal",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ORsYe9rcK8KM6sF_kzY5KaUPAldpfwGr"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -160
      ],
      "id": "131e5c0f-fb1f-4b27-9b2c-1def02e0e459",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Mjy8RMNKtBmqpODD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        -160
      ],
      "id": "5d065682-de03-42e2-b727-9afa7df731e6",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Mjy8RMNKtBmqpODD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        -160
      ],
      "id": "b396e1e4-e73d-4a0b-8df1-a2424854c4f9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "k1Nb4zQnGXmiknrk",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}